<!doctype html>
<html lang="en">
    <head>
        <link href="/fonts/Roboto-Regular.ttf">
        <link rel="stylesheet" href="/font-awesome/css/all.min.css">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <script>
            document.write('<link rel="stylesheet" href="/css/main.css?ts=' + Date.now() + '">');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
            <div class="col-1"><img src="/img/icons/harvest.png" height="20px"></div>
            <div class="col-1"><i class="fa fa-copy"></i></div>
            <div class="col-1"><a id="refresh" class="toolbar-button" href=""><i class="fa fa-sync"></i></a></div>
            <div class="col">&nbsp;</div>
            <div class="col-1"><i class="fa fa-info"></i></div>
            <div class="col-1"><i class="fa fa-cog"></i></div>
        </nav>
        <div class="container-fluid nav-spacer">&nbsp;</div>
        <div class="container-fluid" id="timer-list">&nbsp;</div>

        <script>
            if (typeof module === 'object') {
                window.module = module;
                module = undefined;
            }
        </script>
        <script src="/js/jquery/jquery-3.4.1.min.js"></script>
        <script src="/js/bootstrap/bootstrap.bundle.js"></script>
        <script src="/js/index.js"></script>
        <script type="text/javascript">
            index.init();
        </script>
    </body>
</html>
