<!doctype html>
<html lang="en">
    <body>
        <!-- Top panel bar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark d-flex flex-row">
            <div class="p-2"><img id="copy" src="/img/icons/copy.png" height="20px"></div>
            <div class="p-2"><img id="refresh" src="/img/icons/refresh.png" height="20px"></div>
            <div class="col">&nbsp;</div>
            <div class="p-2"><img id="info" src="/img/icons/info.png" height="20px"></div>
            <div class="p-2"><img id="settings" src="/img/icons/settings.png" height="20px"></div>
        </nav>

        <!-- Main content, will be filled in by javascript -->
        <div class="container-fluid" id="main-content">Loading Timers...</div>
    </body>
</html>
