<!doctype html>
<html lang="en">
    <body>
        </br>
        <div class="container-fluid">
            <form onsubmit="return false">
                <h4>Jira</h4>
                <div class="form-group row">
                        <label for="jiraUrl" class="col-4 col-form-label">URL</label>
                        <div class="col">
                            <input type="text" class="form-control" id="jiraUrl" placeholder="url">
                        </div>
                    </div>
                <div class="form-group row">
                    <label for="jiraUser" class="col-4 col-form-label">Username</label>
                    <div class="col">
                        <input type="text" class="form-control" id="jiraUser" placeholder="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="jiraPass" class="col-4 col-form-label">Password</label>
                    <div class="col">
                        <input type="password" class="form-control" id="jiraPass" placeholder="password">
                    </div>
                </div>

                </br></br>

                <h4>Harvest</h4>
                <div class="form-group row">
                    <label for="harvestUser" class="col-4 col-form-label">Username</label>
                    <div class="col">
                        <input type="text" class="form-control" id="harvestUser" placeholder="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="harvestPass" class="col-4 col-form-label">Password</label>
                    <div class="col">
                        <input type="password" class="form-control" id="harvestPass" placeholder="password">
                    </div>
                </div>

                </br>
                <button id="save" class="btn btn-primary btn-block">Save</button>
            </form>
        </div>
    </body>
</html>
